.tab{
  margin-bottom: 64px;
}

.tabList{
  background: var(--black-400);
  padding: 10px 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 32px;
}

.tabList > .tabTrigger{
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  line-height: 160%;
  font-size: 1.3rem;
  width: 150px;
  cursor: pointer;
}

.tabList > .tabTrigger.active{
  background: var(--white);
  color: var(--black-900)
}

.content{
  display: none;
}

.content.active{
  display: flex;
}