
.paginationList {
  display: flex;
  justify-content: space-between;
}

.paginationList span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  cursor: pointer;
  height: 32px;
  border-radius: 4px;
  border-bottom: 1px solid var(--black-400);
}

.paginationList span[data-active="true"]{
  background: var(--black-700);
  border-color: var(--primary);
}