.title{
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 140%;
}

.chapterController{
  display: flex;
  justify-content: space-between;
  margin: 32px auto;
}

.chapterController:last-child{
  margin: 32px  auto 64px;
}

.chapterController button, 
.chapterController a{
  padding: 0px 24px;
  font-size: 1.4rem;
  border-radius: 30px;
  border: none;
  background: var(--black-300);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 36px;
  line-height: 11px;
  color: var(--white);
  text-decoration: none;
}

.chapterController button:disabled,
.chapterController a[data-disabled="true"]{
  color: var(--gray-400);
  background-color: var(--gray-600);
  cursor: default;
  user-select: none;
}

.chapterController button svg{
  width: 17px;
  height: auto;
}